.tab {
  cursor: pointer;
  position: relative;
}

.tabDefault {
  padding: 7px 12px;
  font-size: 12px;
  line-height: 18px;
}
.tabSmall {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 18px;
}
.tabLarge {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 22px;
}

.tab:hover {
  background-color: var(--tab-bg-color-hover);
}

.tab:active {
  background-color: var(--tab-bg-color-active);
}

.tabActive {
  color: var(--tab-text-colorActive);
}

.tabSlider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  pointer-events: none;
  background-color: var(--tab-slider-bg-color);
}
