.tabs {
  --tab-bg-color-hover: var(--bg-bgless-hover);
  --tab-bg-color-active: var(--bg-bgless-active);
  --tab-text-color: var(--text-common-primary);
  --tab-text-colorActive: var(--text-brand-default);
  --tab-slider-bg-color: var(--border-brand-default);
  display: flex;
  color: var(--tab-text-color);
  user-select: none;
}

.tabsContent {
  display: flex;
}
