.table {
  display: flex;
  flex-direction: column;
}

.tableHeaderWrap {
  flex-shrink: 0;
  overflow: hidden;
}

.tableHeader {
  table-layout: fixed;
  border-collapse: collapse;
}

.tableHeaderCell {
  --table-header-field-bg-color: #2c2c2c;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  background-color: var(--table-header-field-bg-color);
  text-align: left;
  box-sizing: border-box;
}

.tableBodyWrap{
  
}

.tableCell {
  padding: 9px 16px;
  align-items: center;
  border-bottom: 1px solid var(--border-grid-horizontal);
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
}

.tableCellFixed {
  position: sticky !important;
}
