.tableHeaderField {
  --table-header-field-bg-color: #2c2c2c;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  background-color: var(--table-header-field-bg-color);
}
