.table {
  display: flex;
  flex-direction: column;
}

.tableHeader {
  overflow: hidden;
}

.tableCell {
  padding: 9px 16px;
  align-items: center;
  border-bottom: 1px solid var(--border-grid-horizontal);
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
}

.tableCellFixed {
  position: sticky !important;
}
