.g-progress-line {
  display: flex;
  height: 16px;
  width: 100%;
  align-items: center;
}

.g-progress-container {
  border-radius: 8px;
  background: #ebeef5;
  height: 6px;
  width: 100%;
  overflow: hidden;
}

.g-progress-percentage {
  border-radius: 8px;
  height: 100%;
  transition: width 600ms;
}

.g-progress-outside-text {
  height: 100%;
  width: 50px;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 16px;
  padding-left: 8px;
  box-sizing: border-box;
}
