.calendarWeekHeaderItem {
  flex-shrink: 0;
  text-align: center;
  width: 140px;
  padding: 6px 16px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.calendarWeekAllDay{
  flex-shrink: 0;
  height: 68px;
  box-sizing: border-box;
  border-top: var(--calendar-border);
  border-bottom: var(--calendar-border);
  
}

.calendarWeekCell{
  width: 100%;
  box-sizing: border-box;  
}

.calendarWeekCellBorder {
  border-bottom: var(--calendar-border);
}

.calendarWeekCell:not(:last-child){
  border-right: var(--calendar-border);
}

.calendarWeekCell:hover {
  background-color: var(--calendar-date-bg-color-hover);
}

.calendarWeekWeekendCell {
  background-color: var(--calendar-weekend-bg-color-default);
}

.calendarWeekWeekendCell:hover {
  background-color: var(--calendar-weekend-bg-color-hover);
}
