.card {
  --card-bg-color: transparent;
  --card-border: 1px solid var(--border-common-default);
  --card-text-color: var(--text-common-primary);
  border-radius: 4px;
  border: var(--card-border);
  color: var(--card-text-color);
  background-color: var(--card-bg-color);
}
.cardHeader {
  --card-header-padding: 16px;
  font-weight: 600;
  padding: var(--card-header-padding);
  font-size: 16px;
  line-height: 24px;
}
.cardContent {
  --card-content-padding: 16px;
  font-size: 12px;
  line-height: 18px;
  padding: var(--card-content-padding);
}
