:root {
  --e-color-primary: #409eff;
  --e-color-primary-light-3: #3375b9;
  --e-color-primary-light-5: #2a598a;
  --e-color-primary-light-7: #213d5b;
  --e-color-primary-light-8: #1d3043;
  --e-color-primary-light-9: #18222c;

  --e-text-color-regular: #cfd3dc;
  --e-text-color-secondary: #a3a6ad;
  --e-text-color-placeholder: #8d9095;
  --e-text-color-disabled: #6c6e72;
  --e-border-color: #4c4d4f;
  --e-border-width: 1px;
  --e-border-style: solid;
  --e-bg-color: #141414;
  --e-fill-color: #303030;
  --e-fill-color-light: #262727;
  --el-fill-color-dark: #39393a;
}
