.hourLine {
  position: relative;
}

.hourLineCurrentTime {
  position: absolute;
  left: 72px;
  right: 0;
  border-top: 1px solid var(--border-warn-default);
}

.hourLineCurrentTimeCursor {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  top: -3px;
  left: -3px;
  background-color: var(--border-warn-default);
}

.hourLineRow {
  display: flex;
  height: 68px;
}

.hourLineTimeWrap {
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 72px;
}

.hourLineTime {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  bottom: -10px;
}