.hourLine{
  position: relative;
}

.hourLineCurrentTime{
position: absolute;
}

.hourLineRow {
  display: flex;
  height: 68px;
}

.hourLineTimeWrap {
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 72px;
}

.hourLineTime {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  bottom: -10px;
}