.color-picker {
  width: 240px;
  background-color: #121212;
}

.color-picker-sliders-wrap {
  padding: 8px;
}

.color-picker-slider-item-wrap {
  display: flex;
  height: 28px;
  align-items: center;
  justify-content: center;
}
