.button {
  --button-rounded: 4px;
  --button-cursor: pointer;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
  cursor: var(--button-cursor);
  border-radius: var(--button-rounded);
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  height: var(--button-height);
}

.button:hover {
  color: var(--button-text-color-hover);
  background-color: var(--button-bg-color-hover);
}

.button:active {
  color: var(--button-text-color-active);
  background-color: var(--button-bg-color-active);
}

.rounded {
  --button-rounded: 16px;
}

.button:disabled {
  --button-cursor: not-allowed;
}

.buttonSizeDefault {
  --button-padding: 9px 16px;
  --button-font-size: 14px;
  --button-line-height: 22px;
  --button-height: 40px;
}

.buttonSizeSmall {
  --button-padding: 3px 8px;
  --button-font-size: 12px;
  --button-line-height: 18px;
  --button-height: 24px;
}

.buttonSizeMedium {
  --button-padding: 6px 12px;
  --button-font-size: 13px;
  --button-line-height: 20px;
  --button-height: 32px;
}

.buttonSizeLarge {
  --button-padding: 12px 20px;
  --button-font-size: 16px;
  --button-line-height: 24px;
  --button-height: 48px;
}

/* default style */
.buttonDefault {
  --button-text-color: var(--text-common-primary);
  --button-bg-color: var(--bg-controls-default);
  --button-bg-color-hover: var(--bg-controls-hover);
  --button-bg-color-active: var(--bg-controls-active);
}
.buttonDefaultDisabled {
  --button-text-color: var(--text-common-disabled);
  --button-bg-color: var(--bg-controls-disabled);
  --button-bg-color-hover: var(--bg-controls-disabled);
  --button-bg-color-active: var(--bg-controls-disabled);
}
.buttonJellyDefault {
  --button-text-color: var(--text-common-primary);
  --button-bg-color: var(--bg-brand-light-default);
  --button-bg-color-hover: var(--bg-brand-light-hover);
  --button-bg-color-active: var(--bg-brand-light-active);
}
.buttonJellyDefaultDisabled {
  --button-text-color: var(--text-common-disabled);
  --button-bg-color: var(--bg-brand-light-disabled);
  --button-bg-color-hover: var(--bg-brand-light-disabled);
  --button-bg-color-active: var(--bg-brand-light-disabled);
}

.textButtonDefault {
  --button-text-color: var(--text-common-primary);
  --button-text-color-hover: var(--text-common-secondary);
  --button-text-color-active: var(--text-common-tertiary);
  --button-bg-color: transparent;
  --button-bg-color-hover: transparent;
  --button-bg-color-active: transparent;
}

/* primary style */
.buttonPrimary {
  --button-text-color: var(--text-static-primary);
  --button-bg-color: var(--bg-brand-default);
  --button-bg-color-hover: var(--bg-brand-hover);
  --button-bg-color-active: var(--bg-brand-active);
}
.buttonPrimaryDisabled {
  --button-text-color: var(--text-static-disabled);
  --button-bg-color: var(--bg-brand-disabled);
  --button-bg-color-hover: var(--bg-brand-disabled);
  --button-bg-color-active: var(--bg-brand-disabled);
}
.buttonJellyPrimary {
  --button-text-color: var(--text-brand-default);
  --button-bg-color: var(--bg-brand-light-default);
  --button-bg-color-hover: var(--bg-brand-light-hover);
  --button-bg-color-active: var(--bg-brand-light-active);
}
.buttonJellyPrimaryDisabled {
  --button-text-color: var(--text-brand-disabled);
  --button-bg-color: var(--bg-brand-light-disabled);
  --button-bg-color-hover: var(--bg-brand-light-disabled);
  --button-bg-color-active: var(--bg-brand-light-disabled);
}

.textButtonPrimary {
  --button-text-color: var(--text-brand-default);
  --button-text-color-hover: var(--text-brand-hover);
  --button-text-color-active: var(--text-brand-active);
  --button-bg-color: transparent;
  --button-bg-color-hover: transparent;
  --button-bg-color-active: transparent;
}

/* success style */
.buttonSuccess {
  --button-text-color: var(--text-static-primary);
  --button-bg-color: var(--bg-success-default);
  --button-bg-color-hover: var(--bg-success-hover);
  --button-bg-color-active: var(--bg-success-active);
}
.buttonSuccessDisabled {
  --button-text-color: var(--text-static-disabled);
  --button-bg-color: var(--bg-success-disabled);
  --button-bg-color-hover: var(--bg-success-disabled);
  --button-bg-color-active: var(--bg-success-disabled);
}
.buttonJellySuccess {
  --button-text-color: var(--text-success-default);
  --button-bg-color: var(--bg-success-light-default);
  --button-bg-color-hover: var(--bg-success-light-hover);
  --button-bg-color-active: var(--bg-success-light-active);
}
.buttonJellySuccessDisabled {
  --button-text-color: var(--text-success-disabled);
  --button-bg-color: var(--bg-success-light-disabled);
  --button-bg-color-hover: var(--bg-success-light-disabled);
  --button-bg-color-active: var(--bg-success-light-disabled);
}

.textButtonSuccess {
  --button-text-color: var(--text-success-default);
  --button-text-color-hover: var(--text-success-hover);
  --button-text-color-active: var(--text-success-active);
  --button-bg-color: transparent;
  --button-bg-color-hover: transparent;
  --button-bg-color-active: transparent;
}

/* warn style */
.buttonWarn {
  --button-text-color: var(--text-static-primary);
  --button-bg-color: var(--bg-warn-default);
  --button-bg-color-hover: var(--bg-warn-hover);
  --button-bg-color-active: var(--bg-warn-active);
}
.buttonWarnDisabled {
  --button-text-color: var(--text-static-disabled);
  --button-bg-color: var(--bg-warn-disabled);
  --button-bg-color-hover: var(--bg-warn-disabled);
  --button-bg-color-active: var(--bg-warn-disabled);
}
.buttonJellyWarn {
  --button-text-color: var(--text-warn-default);
  --button-bg-color: var(--bg-warn-light-default);
  --button-bg-color-hover: var(--bg-warn-light-hover);
  --button-bg-color-active: var(--bg-warn-light-active);
}
.buttonJellyWarnDisabled {
  --button-text-color: var(--text-warn-disabled);
  --button-bg-color: var(--bg-warn-light-disabled);
  --button-bg-color-hover: var(--bg-warn-light-disabled);
  --button-bg-color-active: var(--bg-warn-light-disabled);
}

.textButtonWarn {
  --button-text-color: var(--text-warn-default);
  --button-text-color-hover: var(--text-warn-hover);
  --button-text-color-active: var(--text-warn-active);
  --button-bg-color: transparent;
  --button-bg-color-hover: transparent;
  --button-bg-color-active: transparent;
}

/* danger style */
.buttonDanger {
  --button-text-color: var(--text-static-primary);
  --button-bg-color: var(--bg-danger-default);
  --button-bg-color-hover: var(--bg-danger-hover);
  --button-bg-color-active: var(--bg-danger-active);
}
.buttonDangerDisabled {
  --button-text-color: var(--text-static-disabled);
  --button-bg-color: var(--bg-danger-disabled);
  --button-bg-color-hover: var(--bg-danger-disabled);
  --button-bg-color-active: var(--bg-danger-disabled);
}
.buttonJellyDanger {
  --button-text-color: var(--text-danger-default);
  --button-bg-color: var(--bg-danger-light-default);
  --button-bg-color-hover: var(--bg-danger-light-hover);
  --button-bg-color-active: var(--bg-danger-light-active);
}
.buttonJellyDangerDisabled {
  --button-text-color: var(--text-danger-disabled);
  --button-bg-color: var(--bg-danger-light-disabled);
  --button-bg-color-hover: var(--bg-danger-light-disabled);
  --button-bg-color-active: var(--bg-danger-light-disabled);
}

.textButtonDanger {
  --button-text-color: var(--text-danger-default);
  --button-text-color-hover: var(--text-danger-hover);
  --button-text-color-active: var(--text-danger-active);
  --button-bg-color: transparent;
  --button-bg-color-hover: transparent;
  --button-bg-color-active: transparent;
}

.iconButtonSizeDefault {
  --button-padding: 4px;
  --button-font-size: 16px;
  --button-height: 24px;
}

.iconButtonSizeSmall {
  --button-padding: 4px;
  --button-font-size: 12px;
  --button-height: 20px;
}

.iconButtonSizeMedium {
  --button-padding: 8px;
  --button-font-size: 16px;
  --button-height: 32px;
}

.iconButtonSizeLarge {
  --button-padding: 10px;
  --button-font-size: 20px;
  --button-height: 40px;
}
