.gTextButton {
  --button-bg-color: transparent;
  --button-bg-color-hover: var(--bg-bgless-hover);
  --button-bg-color-active: var(--bg-bgless-active);
}

.gTextButtonDisabled {
  --button-bg-color: transparent;
  --button-bg-color-hover: transparent;
  --button-bg-color-active: transparent;
}
