.image-bg {
  border-radius: 50%;
  background-image: linear-gradient(-45deg, #3cd6a3 50%, #f07369 50%);
  filter: blur(40px);
}

.name {
  background: -webkit-linear-gradient(120deg, #3cd6a3 30%, #f07369);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.actions {
  padding-top: 32px;
}

.main-text {
  @apply m-0 line-height-40px text-32px lg:mx-auto lg:text-56px lg:line-height-64px lg:font-bold sm:text-48px sm:line-height-56px;
}

.main-desc {
  @apply m-0 font-medium lg:text-24px lg:line-height-36px sm:text-20px sm:line-height-32px sm:pt-12px pt-8px;
}

.container {
  max-width: 1152px !important;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
